 <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
      <h3>Edit Patient Info:</h3>
      </div>
    </div>
  </div>




  <%= form_tag patient_path(@patient.id), :method => :patch do %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= label_tag :First_Name %>
      </div>
      <div class="col-md-3">
        <%= label_tag :Last_Name %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= text_field_tag :first_name, @patient.first_name %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :last_name, @patient.last_name %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= label_tag :Date_of_Birth %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= text_field_tag :date_of_birth, @patient.date_of_birth, :type => :date %>
      </div>
    </div>
  </div>

  <br>

    <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
       <%= submit_tag "Submit", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>

  <% end %>

  <% @cancers.each do |cancer| %>

  <%= form_tag edit_cancer_path(cancer.id), :method => :get do %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h3>Cancer Type: <small><%= cancer.cancer_type %></small></h3>
      </div>
      <div class="col-md-4">
        <h3>Age of Diagnosis: <small><%= cancer.age_of_diagnosis %></small></h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= submit_tag "Edit Cancer", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>

  <% end %>

  <br>

  <% end %>
